!!! 5
%html{ :lang => "en" }
%head
  %meta{ :charset => "utf-8" }
  %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css" }
  
  %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" }
  
  :javascript
    $(document).ready(function(){
      $(".title").hover(
        function(){
          $(".title .date").animate({"margin-top": "0px"}, 200);
        }, 
        function(){
          $(".title .date").animate({"margin-top": "-23px"}, 200);
        }
      );
    });
    

%body
  .header
    .wrapper
      %img{ :src => "/images/logo.gif", :alt => "Dan Hunter" }
      %a{ :href => "mailto:dan@danhunter.co.uk" } dan@danhunter.co.uk
  .wrapper
    = yield